<section class="cv-section">

    <h2 class="section-title" data-i18n="title-about">GIỚI THIỆU</h2>

    <p class="section-content" data-i18n="desc-about">

        Sinh viên năm cuối chuyên ngành Khoa học Dữ liệu tại Đại học Nguyễn Tất Thành, thành thạo Python, SQL và các thuật toán Machine Learning. Có kinh nghiệm thực chiến qua các dự án xây dựng Hệ thống gợi ý và Phân tích dữ liệu. Mong muốn ứng tuyển vị trí Thực tập sinh Data Science / Data Analyst để đóng góp năng lực xử lý dữ liệu và phát triển chuyên môn.

    </p>

</section> 

